<div class="container">
    <div class="video-player-section">
    <div class="vid-container" id="main-vid-container">
        <div class="logo" align="left">
            <img src="assets/images/logo.png" />
            <i class="fa fa-share-square-o" aria-hidden="true" ng-click="moveToTop()"></i>
            <i class="fa fa-times" aria-hidden="true" ng-click="closePopupVideo()"></i>
        </div>
        <video
                id="video-player"
                controls
                preload="auto"
                class="video-js vjs-sublime-skin vjs-16-9"
                width="1180"
                height="600"
                vjs-media="mediaObj"
                vjs-vid >

        </video>
        <div class="statistics-div" ng-show="mediaObj.genre==='Baseball'||mediaObj.genre==='Hockey'">
            <i class="hi-icon fa fa-bar-chart" aria-hidden="true" ng-init="showMatchStatistics = true" ng-click="showMatchStatistics=true"></i>
        </div>
        <div class="statistics-container" ng-class="{'slideRight':showMatchStatistics}">
            <i aria-hidden="true" class="fa fa-times" ng-click="showMatchStatistics=false"></i>
            <div class="statistics-data-container" ng-show="mediaObj.genre==='Baseball'">
                <div class="team-heading">
                    <div class="team-1-details">
                        <img src="assets/images/chc.png" />
                        <span class="team-name">CHC</span>
                        <span class="team-pos">4</span>
                    </div>
                    <div class="team-heading-label">
                        Top 4th
                    </div>
                    <div class="team-2-details">
                        <img src="assets/images/stl.png" />
                        <span class="team-name">STL</span>
                        <span class="team-pos">4</span>
                    </div>
                </div>
                <div class="team-win-number">
                    <span class="percent team-1">71%</span>
                    <span class="percent-label">Win <br/> Probabilty</span>
                    <span class="percent team-2">29%</span>
                </div>
                <div class="team-player-details">
                    <div class="team-1 player-details">
                        <div class="head-label">
                            HITTING
                        </div>
                        <img src="assets/images/chcplayer.jpg" />
                        <div class="player-name">Kris Bryant</div>
                        <div class="text-scores">1-3,1B,RBI</div>
                        <div class="block-scores">
                            <div class="block-1">
                                <div class="heading">
                                    AVG
                                </div>
                                <div class="value">
                                    .310
                                </div>
                            </div>
                            <div class="block-2">
                                <div class="heading">
                                    RBI
                                </div>
                                <div class="value">
                                    89
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="player-details-label">
                        At Bat
                    </div>
                    <div class="team-2 player-details">
                        <div class="head-label">
                            PITCHING
                        </div>
                        <img src="assets/images/stl-player.jpg" />
                        <div class="player-name">Matt Holliday</div>
                        <div class="text-scores">6.1 IP ,10H,4K,2BB</div>
                        <div class="block-scores">
                            <div class="block-1">
                                <div class="heading">
                                    W-L
                                </div>
                                <div class="value">
                                    19-9
                                </div>
                            </div>
                            <div class="block-2">
                                <div class="heading">
                                    ERA
                                </div>
                                <div class="value">
                                    2.98
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="on-deck-details">
                    <div class="on-deck-heading">ON DECK</div>
                    <div class="name-heading">Manny Machado</div>
                    <div class="text-scores">1-3,1B,RBI</div>
                </div>
            </div>
            <div class="statistics-data-container" ng-show="mediaObj.genre==='Hockey'">
                <table class="ihl-template">
                    <thead>
                        <tr>
                            <td><img class="team-logo" src="assets/images/nhl1.png" /><span class="team-name">Chicago Blackhawks</span></td>
                            <td><img class="team-logo" src="assets/images/nhl2.png" /><span class="team-name">Montreal Canadiens</span></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2" class="header-column">WINS</td>
                        </tr>
                        <tr>
                            <td class="column-data">4</td>
                            <td class="column-data">1</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="header-column">GOALS FOR</td>
                        </tr>
                        <tr>
                            <td class="column-data">15</td>
                            <td class="column-data">10</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="header-column">5V5 CLOSE SCORING CHANCES-FOR</td>
                        </tr>
                        <tr>
                            <td class="column-data">120</td>
                            <td class="column-data">96</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="vid-play-detail-section"  >
        <div class="col-lg-8 col-left">
            <h3>{{mediaObj.heading}}</h3>
            <p>{{mediaObj.description}}</p>
        </div>
        <div class="col-lg-4 col-right col-right-u text-right">
            <i class="fa fa-eye" aria-hidden="true"></i> {{mediaObj.views}}
        </div>
        <div class="col-lg-8 col-left-b">
            <div class="by">by: <span>{{mediaObj.genre}}</span></div>
            <div class="by"><i class="fa fa-bookmark" aria-hidden="true"></i> favourite</div>
        </div>
        <div class="col-lg-4 col-right-b text-right">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i> {{mediaObj.likes}}
            &nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa fa-thumbs-down" aria-hidden="true"></i> {{mediaObj.unlikes}}
        </div>
    </div>
    </div>
    <div class="video-section" id="main-video-player-detail">
    <div class="carousel-section">
        <slick class="slider" settings="slickConfig2" ng-if="slickConfig2Loaded">
            <div ng-repeat="obj in topTenVideos  track by $index ;" ng-click="playVideo($index , topTenVideos)">
                <img src="{{obj.poster}}"  class="carousel-image" ng-class="{'highlight':($index==indexcounter)}"/>
                <i class="fa fa-play-circle-o" aria-hidden="true"></i>
            </div>
        </slick>
    </div>
</div>
<div class="featured-videos video-list">
    <div class="video-heading"><h2>FEATURED VIDEOS</h2></div>
    <div class="no-js">
        <ul class="grid-caption cs-style-3">
            <li class="video-container" ng-repeat="obj in featuredVideos  track by $index" ng-click="playVideo($index,featuredVideos)">
                <figure>
                    <div class="video-block"><img src="{{obj.poster}}"  class="carousel-image"/> <i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
                    <figcaption>
                        <h3>{{obj.description}}</h3>
                        <a >Play</a>
                    </figcaption>
                </figure>
                <div class="video-detail-block">
                    <div class="name">{{obj.heading}}</div>
                    <div class="fav" ng-click="addToFavorite(obj)"><i class="fa fa-bookmark" aria-hidden="true" tooltip-placement="top" uib-tooltip="Add to Favorites" tooltip-class="addtofav" tooltip-enable="!getselected(obj.mediaID)" ng-class="{'favadded':getselected(obj.mediaID)}"></i></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="top-videos video-list">
    <div class="video-heading"><h2>TOP VIDEOS</h2></div>
    <div class="no-js">
        <ul class="grid-caption cs-style-3">
            <li class="video-container" ng-repeat="obj in topVideos | limitTo:6 track by $index " ng-click="playVideo($index,topVideos)">
                <figure>
                    <div class="video-block"><img src="{{obj.poster}}"  class="carousel-image"/> <i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
                    <figcaption>
                        <h3>{{obj.description}}</h3>
                        <a >Play</a>
                    </figcaption>
                </figure>
                <div class="video-detail-block">
                    <div class="name">{{obj.heading}}</div>
                    <div class="fav" ng-click="addToFavorite(obj)"><i class="fa fa-bookmark" aria-hidden="true" tooltip-placement="top" uib-tooltip="Add to Favorites"  tooltip-class="addtofav" tooltip-enable="!getselected(obj.mediaID)" ng-class="{'favadded':getselected(obj.mediaID)}"></i></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
</div>
<div class="loader" ng-if="isVisible"><img src="./assets/images/ajax-loader.gif" /></div>