
<!--<div class="vid-container">-->
<!--<vjs-video-container vjs-ratio="4:3"  vjs-setup='{"fluid": true}'>-->
    <!--<video class="video-js vjs-sublime-skin" width="100%" height="100%" controls preload="auto" poster="http://vjs.zencdn.net/v/oceans.png">-->
        <!--<source src="http://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />-->
        <!--<source src="http://vjs.zencdn.net/v/oceans.webm" type='video/webm' />-->
        <!--<source src="http://vjs.zencdn.net/v/oceans.ogv" type='video/ogg' />-->
        <!--<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>-->
        <!--</p>-->
    <!--</video>-->
<!--</div>-->
<div class="vid-container">
    <video  class="video-js vjs-sublime-skin" controls preload="auto" width="1280" height="600"
            poster="assets/video/demo-poster.png"
            vjs-video vjs-setup="options" vjs-media="mediaObj">

    </video>
</div>

<!--<video-->
        <!--id="main-video"-->
        <!--class="video-js vjs-sublime-skin"-->
        <!--width="1280"-->
        <!--height="720"-->
        <!--vjs-media="media"-->
        <!--vjs-vid >-->

<!--</video>-->
<!--<button ng-click="playVid('1')">PLAY 1</button>
<button ng-click="playVid('0')">PLAY 2</button>-->
<div class="video-section">
    <div class="carousel-section">
        <slick class="slider" settings="slickConfig2" ng-if="slickConfig2Loaded">
            <div ng-repeat="i in vidArr  track by $index ;" ng-click="playVid($index)">
                <img src="{{i.poster}}"  class="carousel-image" ng-class="{'highlight':($index==indexcounter)}"/>
            </div>
        </slick>
    </div>
</div>
<div class="featured-videos">
    <div class="heading">Featured Videos</div>
    <div class="video-container" ng-repeat="i in vidArr  track by $index ;" ng-click="playVid($index)">
        <img src="{{i.poster}}"  class="carousel-image"/>
        <div class="video-heading">{{i.heading}}</div>
        <div class="video-content">{{i.content}}</div>
    </div>
</div>
<div class="clear"></div>
<div class="top-videos">
    <div class="heading">Top Videos</div>
    <div class="video-container"  ng-repeat="i in vidArr  track by $index ;" ng-click="playVid($index)">
        <img src="{{i.poster}}"  class="carousel-image"/>
        <div class="video-heading">{{i.heading}}</div>
        <div class="video-content">{{i.content}}</div>
    </div>
</div>
<div class="clear"></div>