<div class="container">
    <div class="video-player-section">
    <div class="vid-container" id="main-vid-container">
        <div class="logo" align="left"><img src="assets/images/logo.png" /><i class="fa fa-times" aria-hidden="true" ng-click="closePopupVideo()"></i>
        </div>
        <video
                id="video-player"
                controls
                preload="auto"
                class="video-js vjs-sublime-skin vjs-16-9"
                width="1180"
                height="600"
                vjs-media="mediaObj"
                vjs-vid >

        </video>
    </div>
    <div class="vid-play-detail-section"  >
        <div class="col-lg-8 col-left">
            <h3>{{mediaObj.heading}}</h3>
            <p>{{mediaObj.description}}</p>
        </div>
        <div class="col-lg-4 col-right col-right-u text-right">
            <i class="fa fa-eye" aria-hidden="true"></i> {{mediaObj.views}}
        </div>
        <div class="col-lg-8 col-left-b">
            <div class="by">by: <span>{{mediaObj.genre}}</span></div>
            <div class="by"><i class="fa fa-bookmark" aria-hidden="true"></i> favourite</div>
        </div>
        <div class="col-lg-4 col-right-b text-right">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i> {{mediaObj.likes}}
            &nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa fa-thumbs-down" aria-hidden="true"></i> {{mediaObj.unlikes}}
        </div>
    </div>
    </div>
    <div class="video-section" id="main-video-player-detail">
    <div class="carousel-section">
        <slick class="slider" settings="slickConfig2" ng-if="slickConfig2Loaded">
            <div ng-repeat="obj in topTenVideos  track by $index ;" ng-click="playVideo($index , topTenVideos)">
                <img src="{{obj.poster}}"  class="carousel-image" ng-class="{'highlight':($index==indexcounter)}"/>
                <i class="fa fa-play-circle-o" aria-hidden="true"></i>
            </div>
        </slick>
    </div>
</div>
<div class="featured-videos video-list">
    <div class="video-heading"><h2>FEATURED VIDEOS</h2></div>
    <div class="no-js">
        <ul class="grid-caption cs-style-3">
            <li class="video-container" ng-repeat="obj in featuredVideos  track by $index">
                <figure>
                    <div class="video-block"><img src="{{obj.poster}}"  class="carousel-image"/> <i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
                    <figcaption>
                        <h3>{{obj.description}}</h3>
                        <a ng-click="playVideo($index,featuredVideos)">Play</a>
                    </figcaption>
                </figure>
                <div class="video-detail-block">
                    <div class="name">{{obj.heading}}</div>
                    <div class="fav" ng-click="addToFavorite(obj)"><i class="fa fa-bookmark" aria-hidden="true" tooltip-placement="top" uib-tooltip="Add to Favorites" tooltip-class="addtofav" tooltip-enable="!getselected(obj.mediaID)" ng-class="{'favadded':getselected(obj.mediaID)}"></i></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="top-videos video-list">
    <div class="video-heading"><h2>TOP VIDEOS</h2></div>
    <div class="no-js">
        <ul class="grid-caption cs-style-3">
            <li class="video-container" ng-repeat="obj in topVideos | limitTo:6 track by $index ">
                <figure>
                    <div class="video-block"><img src="{{obj.poster}}"  class="carousel-image"/> <i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
                    <figcaption>
                        <h3>{{obj.description}}</h3>
                        <a ng-click="playVideo($index,topVideos)">Play</a>
                    </figcaption>
                </figure>
                <div class="video-detail-block">
                    <div class="name">{{obj.heading}}</div>
                    <div class="fav" ng-click="addToFavorite(obj)"><i class="fa fa-bookmark" aria-hidden="true" tooltip-placement="top" uib-tooltip="Add to Favorites"  tooltip-class="addtofav" tooltip-enable="!getselected(obj.mediaID)" ng-class="{'favadded':getselected(obj.mediaID)}"></i></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
</div>