<div class="container">
    <header class="main-header" ng-if="$root.islogin">
        <div class="header-top">
            <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="logo"><img src="assets/images/logo.png" /></div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6 text-right">

                <div id="morphsearch" class="morphsearch">
                    <form class="morphsearch-form">
                        <input class="morphsearch-input" type="search" placeholder="Search" ng-model="searchText.heading"/>
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <button class="morphsearch-submit" type="submit">Search</button>
                    </form>
                    <div class="morphsearch-content">
                        <div class="dummy-column">
                            <h2>Relevance {{searchArr.relevance.length}}</h2>
                            <a ng-repeat="obj in searchArr.relevance | filter:searchText track by $index"
                                    class="dummy-media-object"
                                    href="javascript:void(0);"
                               ng-click="showVideo(obj.channelID,obj.mediaID)"
                                    >
                                <img class="round" src="{{obj.poster}}" alt="{{obj.heading}}"/>
                                <h3>{{obj.heading}}</h3>

                            </a>
                        </div>
                        <div class="dummy-column">
                            <h2>Popular</h2>
                            <a ng-repeat="obj in searchArr.popular | filter:searchText track by $index"
                               class="dummy-media-object"
                               href="javascript:void(0);"
                               ng-click="showVideo(obj.channelID,obj.mediaID)">
                                <img class="round" src="{{obj.poster}}" alt="{{obj.heading}}"/>
                                <h3>{{obj.heading}}</h3>
                            </a>

                        </div>
                        <div class="dummy-column">
                            <h2>Recent</h2>
                            <a ng-repeat="obj in searchArr.recent | filter:searchText track by $index"
                               class="dummy-media-object"
                               href="javascript:void(0);"
                               ng-click="showVideo(obj.channelID,obj.mediaID)">
                                <img class="round" src="{{obj.poster}}" alt="{{obj.heading}}"/>
                                <h3>{{obj.heading}}</h3>
                            </a>
                        </div>
                    </div><!-- /morphsearch-content -->
                    <span class="morphsearch-close"></span>
                </div><!-- /morphsearch -->

                <div class="logout"><i ng-click="logout()" class="fa fa-sign-out" aria-hidden="true"></i></div>
            </div>
            <div>
                <!--<div class="search-block text-right">
                    <input type="text" placeholder="Search" />
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>-->


            </div>

        </div>
        <div class="header-bottom">
            <nav class="navbar navbar-default" data-spy="affix" data-offset-top="197">
                <div class="">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- <a class="navbar-brand" href="#">Live Sports</a>-->
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav" ng-init="activeMenu= 'home'">
                            <li role="presentation"><a ui-sref-active="active" ui-sref="home">Home</a></li>
                            <li role="presentation"><a ui-sref-active="active" ui-sref="channels">Channels</a></li>
                            <li role="presentation"><a ui-sref-active="active" ui-sref="favorites">Favorites</a></li>
                            <li role="presentation"><a ui-sref-active="active" ui-sref="events">Events</a></li>
                           <!-- <li><a class="active" href="#">Dashboard</a></li>
                            <li><a href="#">Channel</a></li>
                            <li><a href="#">Wishlist</a></li>-->
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </header>
</div>

