<div class="container">
    <header class="main-header" ng-if="$root.islogin">
        <div class="header-top">
            <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="logo">LiveSports <i class="fa fa-random" aria-hidden="true"></i></div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6 text-right">
                <div class="logout"><i ng-click="logout()" class="fa fa-sign-out" aria-hidden="true"></i></div>
            </div>
            <div>
                <!--<div class="search-block text-right">
                    <input type="text" placeholder="Search" />
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>-->
                <div id="morphsearch" class="morphsearch">
                    <form class="morphsearch-form">
                        <input class="morphsearch-input" type="search" placeholder="Search..."/>
                        <button class="morphsearch-submit" type="submit">Search</button>
                    </form>
                    <div class="morphsearch-content">
                        <div class="dummy-column">
                            <h2>People</h2>
                            <a class="dummy-media-object" href="http://twitter.com/SaraSoueidan">
                                <img class="round" src="http://0.gravatar.com/avatar/81b58502541f9445253f30497e53c280?s=50&d=identicon&r=G" alt="Sara Soueidan"/>
                                <h3>Sara Soueidan</h3>
                            </a>
                            <a class="dummy-media-object" href="http://twitter.com/rachsmithtweets">
                                <img class="round" src="http://0.gravatar.com/avatar/48959f453dffdb6236f4b33eb8e9f4b7?s=50&d=identicon&r=G" alt="Rachel Smith"/>
                                <h3>Rachel Smith</h3>
                            </a>
                            <a class="dummy-media-object" href="http://www.twitter.com/peterfinlan">
                                <img class="round" src="http://0.gravatar.com/avatar/06458359cb9e370d7c15bf6329e5facb?s=50&d=identicon&r=G" alt="Peter Finlan"/>
                                <h3>Peter Finlan</h3>
                            </a>
                            <a class="dummy-media-object" href="http://www.twitter.com/pcridesagain">
                                <img class="round" src="http://1.gravatar.com/avatar/db7700c89ae12f7d98827642b30c879f?s=50&d=identicon&r=G" alt="Patrick Cox"/>
                                <h3>Patrick Cox</h3>
                            </a>
                            <a class="dummy-media-object" href="https://twitter.com/twholman">
                                <img class="round" src="http://0.gravatar.com/avatar/cb947f0ebdde8d0f973741b366a51ed6?s=50&d=identicon&r=G" alt="Tim Holman"/>
                                <h3>Tim Holman</h3>
                            </a>
                            <a class="dummy-media-object" href="https://twitter.com/shaund0na">
                                <img class="round" src="http://1.gravatar.com/avatar/9bc7250110c667cd35c0826059b81b75?s=50&d=identicon&r=G" alt="Shaun Dona"/>
                                <h3>Shaun Dona</h3>
                            </a>
                        </div>
                        <div class="dummy-column">
                            <h2>Popular</h2>
                            <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/08/05/page-preloading-effect/">
                                <img src="assets/images/vp-g01.jpg" alt="PagePreloadingEffect"/>
                                <h3>Page Preloading Effect</h3>
                            </a>
                            <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/05/28/arrow-navigation-styles/">
                                <img src="assets/images/vp-g01.jpg" alt="ArrowNavigationStyles"/>
                                <h3>Arrow Navigation Styles</h3>
                            </a>
                            <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/06/19/ideas-for-subtle-hover-effects/">
                                <img src="assets/images/vp-g01.jpg" alt="HoverEffectsIdeasNew"/>
                                <h3>Ideas for Subtle Hover Effects</h3>
                            </a>
                            <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/07/14/freebie-halcyon-days-one-page-website-template/">
                                <img src="assets/images/vp-g01.jpg" alt="FreebieHalcyonDays"/>
                                <h3>Halcyon Days Template</h3>
                            </a>
                            <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/05/22/inspiration-for-article-intro-effects/">
                                <img src="assets/images/vp-g01.jpg" alt="ArticleIntroEffects"/>
                                <h3>Inspiration for Article Intro Effects</h3>
                            </a>
                            <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/06/26/draggable-dual-view-slideshow/">
                                <img src="assets/images/vp-g01.jpg" alt="DraggableDualViewSlideshow"/>
                                <h3>Draggable Dual-View Slideshow</h3>
                            </a>
                        </div>
                        <div class="dummy-column">
                            <h2>Recent</h2>
                            <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/10/07/tooltip-styles-inspiration/">
                                <img src="assets/images/vp-g01.jpg" alt="TooltipStylesInspiration"/>
                                <h3>Tooltip Styles Inspiration</h3>
                            </a>
                            <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/09/23/animated-background-headers/">
                                <img src="assets/images/vp-g01.jpg" alt="AnimatedHeaderBackgrounds"/>
                                <h3>Animated Background Headers</h3>
                            </a>
                            <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/09/16/off-canvas-menu-effects/">
                                <img src="assets/images/vp-g01.jpg" alt="OffCanvas"/>
                                <h3>Off-Canvas Menu Effects</h3>
                            </a>
                            <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/09/02/tab-styles-inspiration/">
                                <img src="assets/images/vp-g01.jpg" alt="TabStyles"/>
                                <h3>Tab Styles Inspiration</h3>
                            </a>
                            <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/08/19/making-svgs-responsive-with-css/">
                                <img src="assets/images/vp-g01.jpg" alt="ResponsiveSVGs"/>
                                <h3>Make SVGs Responsive with CSS</h3>
                            </a>
                            <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/07/23/notification-styles-inspiration/">
                                <img src="assets/images/vp-g01.jpg" alt="NotificationStyles"/>
                                <h3>Notification Styles Inspiration</h3>
                            </a>
                        </div>
                    </div><!-- /morphsearch-content -->
                    <span class="morphsearch-close"></span>
                </div><!-- /morphsearch -->

            </div>

        </div>
        <div class="header-bottom">
            <nav class="navbar navbar-default">
                <div class="">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- <a class="navbar-brand" href="#">Live Sports</a>-->
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav" ng-init="activeMenu= 'home'">
                            <li role="presentation"><a ui-sref-active="active" ui-sref="home">Home</a></li>
                            <li role="presentation"><a ui-sref-active="active" ui-sref="channels">Channels</a></li>
                            <li role="presentation"><a ui-sref-active="active" ui-sref="favorites">Favorites</a></li>
                            <li role="presentation"><a ui-sref-active="active" ui-sref="events">Events</a></li>
                           <!-- <li><a class="active" href="#">Dashboard</a></li>
                            <li><a href="#">Channel</a></li>
                            <li><a href="#">Wishlist</a></li>-->
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </header>
</div>

