<div class="container events">
<div class="vid-container" >
    <video
            id="video-player"
            controls
            preload="auto"
            class="video-js vjs-sublime-skin"
            width="1180"
            height="600"
            vjs-media="mediaObj"
            vjs-vid >

    </video>
</div>
    <section class="grid-wrap">
        <ul class="grid swipe-down" id="grid">
            <li ng-repeat="eventdata in eventsarray|orderBy:$index:true" >
                <a ng-href="javascript:void(0)"  ng-click="playVid($index)"><img src="{{eventdata.poster}}" alt="dummy">
                    <h3>
                        {{eventdata.heading}}
                        <br>
                        <span class="category">{{eventdata.category}}</span>
                        <br>
                        <span class="date">{{eventdata.date}}</span>
                    </h3>
                </a>
            </li>
        </ul>
    </section>
</div>