<div class="container events">
    <div class="vid-container" >
        <video
                id="video-player"
                controls
                preload="auto"
                class="video-js vjs-sublime-skin"
                width="1180"
                height="600"
                vjs-media="mediaObj"
                vjs-vid >

        </video>
    </div>
   <section > {{videoHeading}}</section>
    <section class="grid-wrap" ng-show="isChannel">
        <ul class="grid swipe-down" id="grid">
            <li ng-repeat="obj in videoList track by $index" >
                <a ng-href="javascript:void(0)" ng-click="playVideo($index , videoList)">
                    <img ng-src="{{obj.poster}}" alt="{{obj.heading}}">
                    <h3>
                        {{obj.heading}}
                        <br>
                        <span class="category">{{obj.genre}}</span>
                        <br>
                        <span class="date">{{obj.date}}</span>
                    </h3>
                </a>
            </li>
        </ul>
    </section>

</div>