<div class="container video-list">
    <div class="video-heading"><h2>FAVORITES VIDEOS</h2></div>
    <div class="no-js">
        <ul class="grid-caption cs-style-3" ng-if="favoriteVidArr.length > 0">
            <li class="video-container" ng-repeat="obj in favoriteVidArr track by $index">
                <figure>
                    <div class="video-block"><img class="carousel-image" src="{{obj.poster}}" alt="{{obj.heading}}"> <i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
                    <figcaption>
                        <h3>{{obj.description}}</h3>
                        <a ng-href="javascript:void(0);" ng-click="showVideo(obj.channelID,obj.mediaID)">Play</a>
                    </figcaption>
                </figure>
                <div class="video-detail-block">
                    <div class="name">{{obj.heading}}</div>
                </div>
            </li>
        </ul>
        <div class="no-record" ng-if="favoriteVidArr.length < 1">
            No favorite videos found in your list.
        </div>
    </div>
</div>