<div class="no-js">
    <ul class="grid-caption cs-style-3">
        <li ng-repeat="obj in favoriteVidArr track by $index">
            <figure>
                <img src="{{obj.poster}}" alt="{{obj.heading}}">
                <figcaption>
                    <h3>{{obj.heading}}</h3>
                    <span>{{obj.content}}</span>
                    <a ng-href="javascript:void(0);" ng-click="showVideo(obj.channelID,obj.mediaID)">Take a look</a>
                </figcaption>
            </figure>
        </li>
    </ul>
</div>