<div class="container events">
    <section class="grid-wrap">
        <ul class="grid swipe-down" id="grid">
            <li ng-repeat="obj in eventsArr" >
                <a ng-href="javascript:void(0)"  ng-click="showVideo(obj.eventID)">
                    <img ng-src="{{obj.poster}}" alt="{{obj.heading}}">
                    <h3>
                        {{obj.heading}}
                        <br>
                        <span class="category">{{obj.genre}}</span>
                        <br>
                        <span class="date">{{obj.date}}</span>
                    </h3>
                </a>
            </li>
        </ul>
    </section>
</div>
<div class="loader" ng-if="isVisible"><img src="./assets/images/ajax-loader.gif" /></div>