.vid-container {
  width: 100%;
  height: 720px;
  text-align: center;
}
.vid-container .vjs-video-wrap {
  display: inline-block;
}
.video-section {
  background: #fff;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
.video-section .carousel-section {
  margin-top: -50px;
}
.video-section .carousel-section .carousel-image {
  width: 277px;
  height: 156px;
}
.slick-prev::before {
  content: "<";
}
.slick-next::before {
  content: ">";
}
.slick-prev,
.slick-next {
  background-color: transparent;
  border: 2px solid #333;
  border-radius: 3px;
  cursor: pointer;
  font-size: 30px;
  height: 40px;
  left: 0;
  line-height: 7px;
  margin-top: -120px;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
  width: 40px;
  padding-left: 10px;
}
.slick-next {
  left: 50px;
  right: auto;
  content: ">";
}
.slick-prev:hover,
.slick-next:hover {
  background-color: #ffffff;
}
.slick-prev:hover::before,
.slick-next:hover::before {
  color: #333;
}
.slick-prev::before,
.slick-next::before {
  color: #333;
  font-size: 28px;
  font-weight: bold;
}
.highlight {
  border: 1px solid red;
}
.featured-videos,
.top-videos {
  margin-top: 30px;
}
.featured-videos .heading,
.top-videos .heading {
  color: #999999;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}
.featured-videos .video-container,
.top-videos .video-container {
  float: left;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  width: 25%;
}
.featured-videos img,
.top-videos img {
  height: auto;
  width: 100%;
}
.featured-videos .video-heading,
.top-videos .video-heading {
  color: #222222;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
.featured-videos .video-content,
.top-videos .video-content {
  color: #666666;
  padding-top: 5px;
  padding-bottom: 5px;
}
.clear {
  clear: both;
}
